<a href="https://colab.research.google.com/github/Luciahelenasantos/POS_GRADUACAO_PUC/blob/main/Analise_Exploratoria_Dados/Projeto_Split1a.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Aluna : Lucia Helena Barros dos Santos

## Importando bibliotecas

In [ ]:
import pandas as pd
import os
import time
import matplotlib.pyplot as plt #biblioteca para criação de gráficos
from google.colab import drive
from datetime import datetime #library para alteração do tipo str para time

## Carregando Banco de dados

In [ ]:
drive.mount('/content/drive', force_remount=True)

os.chdir('/content/drive/My Drive/')

Mounted at /content/drive

In [ ]:
dadoar = pd.read_csv('dados/2020RJ1RIO.csv', delimiter = ';')

In [ ]:
dadoar.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 132808 entries, 0 to 132807
Data columns (total 8 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   Data      132808 non-null  object
 1   Hora      132808 non-null  object
 2   Estacao   132808 non-null  object
 3   Codigo    132808 non-null  object
 4   Poluente  132808 non-null  object
 5   Valor     132808 non-null  float64
 6   Unidade   132808 non-null  object
 7   Tipo      132808 non-null  object
dtypes: float64(1), object(7)
memory usage: 8.1+ MB

In [ ]:
print(dadoar)

              Data   Hora                  Estacao Codigo Poluente      Valor  \
0       01/01/2020  00:00            RJ - Engenhão   RJ05       CO   0.860000
1       01/01/2020  00:00      RJ - Ilha de Paqueá   RJ11       CO   0.280000
2       01/01/2020  00:00  RJ - Ilha do Governador   RJ10       CO   0.620000
3       01/01/2020  00:00      RJ - Lourenço Jorge   RJ97       CO   1.800000
4       01/01/2020  00:00          RJ - Manguinhos  RJ222       CO  14.360000
...            ...    ...                      ...    ...      ...        ...
132803  05/07/2020  09:00   RJ - Campo dos Afonsos   RJ13      NO2  31.990593
132804  05/07/2020  09:00            RJ - Engenhão   RJ05      NO2  23.898855
132805  05/07/2020  09:00      RJ - Ilha de Paqueá   RJ11      NO2   3.801235
132806  05/07/2020  09:00  RJ - Ilha do Governador   RJ10      NO2  19.683624
132807  05/07/2020  09:00          RJ - Manguinhos  RJ222      NO2  15.261395

       Unidade        Tipo
0          ppm  automático
1          ppm  automático
2          ppm  automático
3          ppm  automático
4          ppm  automático
...        ...         ...
132803   µg/m3  automático
132804   µg/m3  automático
132805   µg/m3  automático
132806   µg/m3  automático
132807   µg/m3  automático

[132808 rows x 8 columns]

## Tratando o Banco de dados

In [ ]:
# Alterando o atributo Data de str para formato data
dadoar['Data'] = pd.to_datetime(dadoar['Data'])

In [ ]:
# Alterando o atributo Hora de str para formato time ????? dando erro ainda não consegui
dadoar['Hora'] = pd.to_datetime(dadoar['Hora'],format= '%H:%M').dt.time

In [ ]:
dadoar.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 132808 entries, 0 to 132807
Data columns (total 8 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   Data      132808 non-null  datetime64[ns]
 1   Hora      132808 non-null  object
 2   Estacao   132808 non-null  object
 3   Codigo    132808 non-null  object
 4   Poluente  132808 non-null  object
 5   Valor     132808 non-null  float64
 6   Unidade   132808 non-null  object
 7   Tipo      132808 non-null  object
dtypes: datetime64[ns](1), float64(1), object(6)
memory usage: 8.1+ MB

In [ ]:
# criando os campos ano, mês e dia que servirão de filtros
# Acessando os atributos da DAta
dadoar['Ano'] = dadoar['Data'].year
#dadoar[Mes] = Data.month
#dadoar[Dia] = Data.day

In [ ]:
dadoar

## Análise exploratória

In [ ]:
# exibindo a quantidade de linhas por coluna
dadoar.groupby('Poluente').count()

In [ ]:
# exibindo um sumário estatístico
dadoar.groupby('Poluente'). describe()

            Valor                                                    \
            count       mean        std   min        25%        50%
Poluente
CO        26769.0   0.992910   2.676179  0.00   0.280000   0.540000
MP10      16007.0  19.481670  24.884319  0.00   3.825000  14.000000
MP2.5       150.0  26.076400  24.778121  1.35   7.000000  13.930000
NO2       18619.0  19.259431  17.697604  0.00   8.769186  14.696855
O3        40236.0  33.230629  87.415522  0.00   7.067485  19.651534
PTS        8686.0  33.594476  20.288656  0.00  21.000000  30.000000
SO2       22341.0   6.852049   6.431037  0.00   3.089235   6.283190


                75%          max
Poluente
CO         0.930000    66.800000
MP10      26.000000   589.750000
MP2.5     46.190000    96.000000
NO2       23.710675   284.904458
O3        38.130061  1199.803681
PTS       43.000000   232.000000
SO2        9.162986   369.425403

In [ ]:
# exibindo a média de cada atributo, agrupado por Poluente
dadoar.groupby('Poluente').mean()

              Valor
Poluente
CO         0.992910
MP10      19.481670
MP2.5     26.076400
NO2       19.259431
O3        33.230629
PTS       33.594476
SO2        6.852049

## Gráficos

In [ ]:
# plotando o gráfico de Umidade Relativa x Chuva
plt.scatter(df1['md24hs_UR'], df1['md24hs_Chuva'])

# incluindo título do gráfico e rótulos dos eixos
plt.title('poluentes: UR - Umidade Relativa x Chuva')
plt.xlabel('Umidade Relativa')
plt.ylabel('Chuva');