<a href="https://colab.research.google.com/github/Luciahelenasantos/POS_GRADUACAO_PUC/blob/main/MVP/Projeto_Split1a.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Aluna : Lucia Helena Barros dos Santos

## Importando bibliotecas

In [ ]:
# importação brbliotecas necessárias
import pandas as pd
import os #para o retorno do caminho dos dados - 'os.chdir'
import datetime #para o tratamento de datas
import matplotlib.pyplot as plt #biblioteca para criação de gráficos
from google.colab import drive #acesso ao drive do google Colab - 'drive.mount'
from datetime import date, datetime #para conversão de datas

## Carregando Banco de dados

In [ ]:
drive.mount('/content/drive', force_remount=True)

os.chdir('/content/drive/My Drive/')

Mounted at /content/drive

In [ ]:
dadoarIR = pd.read_csv('dados/EstacaoIR20122021.csv', delimiter = ';')

In [ ]:
#dadoar.info()

dadoarIR.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 79863 entries, 0 to 79862
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Identificacao  79863 non-null  int64
 1   Data           79863 non-null  object
 2   Estacao        79863 non-null  object
 3   Chuva          79394 non-null  float64
 4   Pres           78617 non-null  float64
 5   RS             68397 non-null  float64
 6   Temp           69942 non-null  float64
 7   UR             63458 non-null  float64
 8   Dir_Vento      66399 non-null  float64
 9   Vel_Vento      66401 non-null  float64
 10  SO2            63167 non-null  float64
 11  NO2            73931 non-null  float64
 12  HCNM           67060 non-null  float64
 13  HCT            66986 non-null  float64
 14  CH4            67061 non-null  float64
 15  CO             72352 non-null  float64
 16  NO             73918 non-null  float64
 17  NOx            73927 non-null  float64
 18  O3             73722 non-null  float64
 19  PM10           76108 non-null  float64
 20  PM2_5          71421 non-null  float64
dtypes: float64(18), int64(1), object(2)
memory usage: 12.8+ MB

In [ ]:
print(dadoarIR)

       Identificacao                    Data Estacao  Chuva     Pres    RS  \
0             223917  2012/01/01 00:30:00+00      IR    0.8  1003.43  0.83
1             223918  2012/01/01 01:30:00+00      IR    0.0  1002.43  1.00
2             223919  2012/01/01 02:30:00+00      IR    0.0  1001.62  1.00
3             223920  2012/01/01 03:30:00+00      IR    0.0  1001.10  1.00
4             223921  2012/01/01 04:30:00+00      IR    0.0  1000.85  1.00
...              ...                     ...     ...    ...      ...   ...
79858         642173  2021/03/31 19:30:00+00      IR    0.0  1009.12  6.00
79859         642174  2021/03/31 20:30:00+00      IR    0.0  1009.95  6.17
79860         642175  2021/03/31 21:30:00+00      IR    0.0  1010.40  6.00
79861         642176  2021/03/31 22:30:00+00      IR    1.8  1010.33  6.00
79862         642177  2021/03/31 23:30:00+00      IR    0.2  1010.15  7.00

        Temp     UR  Dir_Vento  Vel_Vento  ...    NO2  HCNM   HCT   CH4    CO  \
0      24.84  97.12        NaN        NaN  ...  20.09  0.68  2.52  1.83  0.40
1      24.68  96.00        NaN        NaN  ...  18.91  0.65  2.55  1.90  0.35
2      24.56  96.39        NaN        NaN  ...  17.99  0.66  2.58  1.92  0.34
3      24.65  96.87        NaN        NaN  ...  22.49  0.69  2.59  1.90  0.37
4      24.66  96.32        NaN        NaN  ...  21.28  0.68  2.60  1.91  0.32
...      ...    ...        ...        ...  ...    ...   ...   ...   ...   ...
79858  26.98  60.72     226.50       1.20  ...  30.38  0.04  2.14  2.10   NaN
79859  26.82  60.65     227.17       1.25  ...  28.38  0.02  2.08  2.05   NaN
79860  26.70  60.43     249.50       0.85  ...  24.53  0.11  2.50  2.39   NaN
79861  25.80  71.95     299.17       1.15  ...  28.75  0.03  2.09  2.06   NaN
79862  23.40  97.57     308.17       1.23  ...  33.24  0.03  2.14  2.11   NaN

         NO    NOx     O3  PM10  PM2_5
0      0.23  20.20  25.03  89.0   85.0
1      0.68  19.60  22.95  33.0   32.0
2      0.39  18.33  22.31  19.0   14.0
3      0.44  22.93  17.98  12.0   12.0
4      0.24  21.52  18.88  10.0   10.0
...     ...    ...    ...   ...    ...
79858  7.94  38.32  17.04  29.0    0.0
79859  6.71  35.09  18.76  28.0    2.0
79860  5.05  29.58  21.30  26.0    7.0
79861  4.19  32.94  17.11  30.0   11.0
79862  4.29  37.53  12.21  43.0   20.0

[79863 rows x 21 columns]

## Tratando o Banco de dados

In [ ]:
# Alterando o atributo Data de str para formato data
dadoarIR['Data'] = pd.to_datetime(dadoarIR['Data'])

In [ ]:
dadoarIR.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 79863 entries, 0 to 79862
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Identificacao  79863 non-null  int64
 1   Data           79863 non-null  datetime64[ns, UTC]
 2   Estacao        79863 non-null  object
 3   Chuva          79394 non-null  float64
 4   Pres           78617 non-null  float64
 5   RS             68397 non-null  float64
 6   Temp           69942 non-null  float64
 7   UR             63458 non-null  float64
 8   Dir_Vento      66399 non-null  float64
 9   Vel_Vento      66401 non-null  float64
 10  SO2            63167 non-null  float64
 11  NO2            73931 non-null  float64
 12  HCNM           67060 non-null  float64
 13  HCT            66986 non-null  float64
 14  CH4            67061 non-null  float64
 15  CO             72352 non-null  float64
 16  NO             73918 non-null  float64
 17  NOx            73927 non-null  float64
 18  O3             73722 non-null  float64
 19  PM10           76108 non-null  float64
 20  PM2_5          71421 non-null  float64
dtypes: datetime64[ns, UTC](1), float64(18), int64(1), object(1)
memory usage: 12.8+ MB

In [ ]:
dadoarIR

,Identificacao,Data,Estacao,Chuva,Pres,RS,Temp,UR,Dir_Vento,Vel_Vento,...,NO2,HCNM,HCT,CH4,CO,NO,NOx,O3,PM10,PM2_5
0,223917,2012-01-01 00:30:00+00:00,IR,0.8,1003.43,0.83,24.84,97.12,NaN,NaN,...,20.09,0.68,2.52,1.83,0.40,0.23,20.20,25.03,89.0,85.0
1,223918,2012-01-01 01:30:00+00:00,IR,0.0,1002.43,1.00,24.68,96.00,NaN,NaN,...,18.91,0.65,2.55,1.90,0.35,0.68,19.60,22.95,33.0,32.0
2,223919,2012-01-01 02:30:00+00:00,IR,0.0,1001.62,1.00,24.56,96.39,NaN,NaN,...,17.99,0.66,2.58,1.92,0.34,0.39,18.33,22.31,19.0,14.0
3,223920,2012-01-01 03:30:00+00:00,IR,0.0,1001.10,1.00,24.65,96.87,NaN,NaN,...,22.49,0.69,2.59,1.90,0.37,0.44,22.93,17.98,12.0,12.0
4,223921,2012-01-01 04:30:00+00:00,IR,0.0,1000.85,1.00,24.66,96.32,NaN,NaN,...,21.28,0.68,2.60,1.91,0.32,0.24,21.52,18.88,10.0,10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79858,642173,2021-03-31 19:30:00+00:00,IR,0.0,1009.12,6.00,26.98,60.72,226.50,1.20,...,30.38,0.04,2.14,2.10,NaN,7.94,38.32,17.04,29.0,0.0
79859,642174,2021-03-31 20:30:00+00:00,IR,0.0,1009.95,6.17,26.82,60.65,227.17,1.25,...,28.38,0.02,2.08,2.05,NaN,6.71,35.09,18.76,28.0,2.0
79860,642175,2021-03-31 21:30:00+00:00,IR,0.0,1010.40,6.00,26.70,60.43,249.50,0.85,...,24.53,0.11,2.50,2.39,NaN,5.05,29.58,21.30,26.0,7.0
79861,642176,2021-03-31 22:30:00+00:00,IR,1.8,1010.33,6.00,25.80,71.95,299.17,1.15,...,28.75,0.03,2.09,2.06,NaN,4.19,32.94,17.11,30.0,11.0
79862,642177,2021-03-31 23:30:00+00:00,IR,0.2,1010.15,7.00,23.40,97.57,308.17,1.23,...,33.24,0.03,2.14,2.11,NaN,4.29,37.53,12.21,43.0,20.0

In [ ]:
# criando os campos ano, mês e dia que servirão de filtros
# Acessando os atributos da DAta
Ano = dadoarIR['Data'].year
#dadoar[Mes] = Data.month
#dadoar[Dia] = Data.day
#hora = dt.hour

AttributeError: ignored

In [ ]:
dadoar

## Análise exploratória

In [1]:
# exibindo a quantidade de linhas por coluna
dadoarIR.groupby('Poluente').count()

NameError: ignored

In [ ]:
# exibindo um sumário estatístico
dadoar.groupby('Poluente'). describe()

            Valor                                                    \
            count       mean        std   min        25%        50%
Poluente
CO        26769.0   0.992910   2.676179  0.00   0.280000   0.540000
MP10      16007.0  19.481670  24.884319  0.00   3.825000  14.000000
MP2.5       150.0  26.076400  24.778121  1.35   7.000000  13.930000
NO2       18619.0  19.259431  17.697604  0.00   8.769186  14.696855
O3        40236.0  33.230629  87.415522  0.00   7.067485  19.651534
PTS        8686.0  33.594476  20.288656  0.00  21.000000  30.000000
SO2       22341.0   6.852049   6.431037  0.00   3.089235   6.283190


                75%          max
Poluente
CO         0.930000    66.800000
MP10      26.000000   589.750000
MP2.5     46.190000    96.000000
NO2       23.710675   284.904458
O3        38.130061  1199.803681
PTS       43.000000   232.000000
SO2        9.162986   369.425403

In [ ]:
# exibindo a média de cada atributo, agrupado por Poluente
dadoar.groupby('Poluente').mean()

              Valor
Poluente
CO         0.992910
MP10      19.481670
MP2.5     26.076400
NO2       19.259431
O3        33.230629
PTS       33.594476
SO2        6.852049

## Gráficos

In [ ]:
# plotando o gráfico de Umidade Relativa x Chuva
plt.scatter(df1['md24hs_UR'], df1['md24hs_Chuva'])

# incluindo título do gráfico e rótulos dos eixos
plt.title('poluentes: UR - Umidade Relativa x Chuva')
plt.xlabel('Umidade Relativa')
plt.ylabel('Chuva');